.navbar {
  padding: 5px 15px;
  background: #131921;
  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 45px;
    &-logo {
      width: 113px;
      padding: 5px;
      transition: all 0.3s ease-in-out;
      border-radius: 3px;
      border: 1px solid transparent;
      margin-right: 5px;
      &:hover {
        border: 1px solid #fff;
        border-radius: 3px;
      }
      img {
        width: 100%;
      }
    }
    &-deliver {
      padding: 5px;
      color: #fff;
      display: flex;
      align-items: center;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      border-radius: 3px;
      border: 1px solid transparent;
      height: 45px;
      &:hover {
        border: 1px solid #fff;
        border-radius: 3px;
      }
      &-icon {
        margin-right: 5px;
        margin-top: 8px;
      }
      &-inner {
        p {
          color: #ccc;
          font-size: 12px;
          line-height: 14px;
          height: 14px;
          font-weight: 400;
        }
        h4 {
          font-size: 14px;
          line-height: 15px;
          font-weight: 700;
        }
      }
    }
    &-search {
      display: flex;
      align-items: center;
      height: 40px;
      border-radius: 3px;
      margin-left: 15px;
      &-left {
        display: flex;
        height: inherit;
        cursor: pointer;
        div {
          border: none;
          width: 52px;
          display: flex;
          justify-content: space-around;
          align-items: center;
          height: inherit;
          background: #f3f3f3;
          border-radius: 3px 0 0 3px;
          position: static;
          z-index: 2;
          border-right: 1px solid #c1c1c1;
          &:focus {
            outline: 3px solid #f3a743;
          }
          &:hover {
            background-color: #e4e4e4;
          }
        }
      }
      &-middle {
        height: inherit;
        width: 743px;
        max-width: 100%;
        input {
          width: inherit;
          height: 100%;
          border: none;
          line-height: 15px;
          padding: 7px 10px 10px 0;
          color: #111;
          font-size: 15px;
          font-family: inherit;
          text-indent: 8px;
          font-weight: 500;

          &:focus-within {
            outline: none;
          }
        }
      }
      &-right {
        width: 45px;
        height: inherit;
        background: #febd69;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border-radius: 0 3px 3px 0;
        &:focus {
          outline: 3px solid #f3a743;
        }
        &:hover {
          background-color: #f3a743;
        }
      }
    }
    &-toolbar {
      display: flex;
      align-items: center;
      margin-left: 15px;
      transition: all 0.3s ease-in-out;

      &-language {
        width: 55px;
        height: 45px;
        display: flex;
        align-items: center;
        cursor: pointer;
        justify-content: center;
        transition: all 0.3s ease-in-out;
        border-radius: 3px;
        &:hover {
          border: 1px solid #fff;
        }
        img {
          width: 26px;
          height: 26px;
          max-width: 100%;
          max-height: 100%;
          margin-right: 5px;
        }
        svg {
          margin-top: 10px;
        }
      }
      &-sign_in,
      &-orders {
        width: 132px;
        color: #fff;
        cursor: pointer;
        height: 45px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 3px;
        transition: all 0.3s ease-in-out;
        &:hover {
          transition: all 0.3s ease-in-out;
          border: 1px solid #fff;
        }
        p {
          font-size: 12px;
          line-height: 14px;
          height: 14px;
          font-weight: 400;
        }
        h4 {
          font-size: 14px;
          line-height: 15px;
          font-weight: 700;
          svg {
            margin-left: 4px;
          }
        }
      }
      &-orders {
        width: 70px;
      }
      &-cart {
        position: relative;
        border-radius: 3px;
        transition: all 0.3s ease-in-out;
        height: 45px;
        width: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        border: 1px solid transparent;

        &:hover {
          border: 1px solid #fff;
        }
        img {
          width: 32px;
          max-width: 100%;
        }
        h4 {
          margin-top: 18px;
          margin-left: 3px;
          color: #fff;
          font-size: 14px;
          line-height: 15px;
          font-weight: 700;
        }
        & .count {
          color: #f08804;
          font-size: 16px;
          width: 19px;
          font-weight: 700;
          font-family: inherit;
          position: absolute;
          line-height: 16px;
          text-align: center;
          top: 5px;
          left: 30%;
          transform: translateX(-30%);
        }
      }
    }
  }
}

.onFocus {
  outline: 3px solid #f3a743;
}
